# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# --- Virtual envs ---
.venv/
venv/
env/

# --- IDE files ---
.vscode/
.idea/
.editorconfig

# --- Databases ---
*.sqlite
*.sqlite3
dev.sqlite

# --- Environment files ---
.env
.env.local

# --- Logs ---
*.log

# --- Migrations cache ---
migrations/versions/__pycache__/
migrations/

#frontend
package.json
vpa/feserver/package.json

#celery files
celery*
